<form [formGroup]="credentials" (ngSubmit)="login()">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">GREEN CONNECT</h4>
      <p class="text-center">Welcome back! Please login to your account </p>
      <span class="alert alert-dark" role="alert" *ngIf="message">
                {{message}}
                </span>
      <br><span class="alert alert-dark" role="alert" *ngIf="(email.touched && email.value === '') || (password.touched && password.value === '')">All fields are required!</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control border-input" placeholder="username@greenconnect.com" formControlName="email">
        <span class="alert alert-warning" role="alert" *ngIf="email.touched && email.errors">email required</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control border-input" placeholder="********" formControlName="password">
        <span class="alert alert-warning" role="alert" *ngIf="password.touched && password.errors">password required</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <input type="checkbox" formControlName="remember"><label>Remember me</label>
    </div>
    <div class="col-md-6">
      <a routerlink="/forgot-password">Forgot Password</a>
    </div>
  </div>

  <div class="text-center" *ngIf="loading; else elseBtn">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <ng-template class="text-center" #elseBtn>
    <div class="text-center">
      <button type="submit" class="btn btn-info btn-fill btn-wd">Update Price</button>
    </div>
  </ng-template>
  <div class="clearfix"></div>
</form>
