<form [formGroup]="commodityPrice" (ngSubmit)="updatePrice()">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Commodity</label>
        <select class="form-control border-input">
          <option value="">commodity a</option>
          <option value="">commodity b</option>
        </select>

      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Market</label>
        <select class="form-control border-input">
          <option value="">option a</option>
          <option value="">option b</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control border-input" placeholder="Price" formControlName="price">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control border-input" placeholder="11/11/18">
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-info btn-fill btn-wd">Update Price</button>
  </div>
  <div class="clearfix"></div>
</form>
